<article class="{{post.post_class}} single-post-preview h-entry">
    {% block content %}
        <header class="single-post-preview__header">
            <h1 class="single-post-preview__title">
                <a href="{{post.link}}" class="p-name u-url">
                    {{post.title}}
                </a>
            </h1>
        </header>
        <div class="single-post-preview__content p-summary">
            {{post.get_preview()}}
        </div>
        <footer class="single-post-preview__footer">
            {% include '/partials/postmeta.twig' %}
        </footer>
    {% endblock %}
</article>