.DS_Store
.cache-loader
node_modules
wp
wp-content
# Note: If you are writing custom plugins for your site, you may want to ignore individual plugins instead of the entire directory
# wp-content/themes
# wp-content/uploads
# wp-content/plugins/theme-check
# wp-content/plugins/user-switching
