.main-header-nav-wrap {
    & {
        background-color: $header-bgc;
        background-position: center;
        background-size: cover;
        @include tp-padding-leader();
        @include tp-padding-trailer();
    }

    &--image {
        min-height: 50vh;
    }
}

.main-header-nav-wrap__title {
    color: $header-c;
    @include tp-leader();
    .main-header-nav-wrap--image & {
        text-shadow: 0 0 .5em rgba(0,0,0,.8);
    }
}

.main-header {
    // background-color: $header-bgc;
    color: $header-c;
    // @include tp-padding-leader();
    // @include tp-padding-trailer();
}

.main-title {
    margin: 0;
}

.headroom {
    transition: transform 200ms linear;
    position: fixed;
    z-index: 10;
    top: 0;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
