// Navigation
//
// Various types of navigation
//
// Styleguide 3

.main-nav-wrapper {
    background-color: $nav-bgc;
}

.main-nav {
}

.main-nav__ul {

}

.main-nav__li {

}

.main-nav__a {
    color: $nav-link-c;
    background: $nav-link-bg;
    text-decoration: none;
    outline: none;
    @include tp-padding-leader(.5);
    @include tp-padding-trailer(.5);

    @include scut-selected(true) {
        color: $nav-link-c--hover;
        background: $nav-link-bg--hover;
    }

    &.is-current {
        color: $nav-link-c--current;
        background: $nav-link-bg--current;
    }

}

// Unlike the main nav this is the ul element
.main-nav__sub-nav {
    background-color: $subnav-bgc;
    @include tp-space(padding-left, .5);
    @include tp-space(padding-right, .5);

    transition: opacity $transition-mid, max-height $transition-mid;

    @include breakpoint($mid-break) {
        opacity: 0;
    }
}

.main-nav__li:hover > .main-nav__sub-nav,
.main-nav__sub-nav:hover {
    @include breakpoint($mid-break) {
        opacity: 1;
    }
}

.main-nav__sub-nav__li {

}

.main-nav__sub-nav__a {
    text-decoration: none;
    color: $subnav-link-c;
    background: $subnav-link-bg;
    outline: none;
    @include tp-padding-leader(.25);
    @include tp-padding-trailer(.25);

    @include scut-selected(true) {
        color: $subnav-link-c--hover;
        background: $subnav-link-bg--hover;
    }

    &.is-current {
        color: $subnav-link-c--current;
        background: $subnav-link-bg--current;
    }
}

.nav__dropdown-toggle {
    @extend .main-nav__a;
    margin: 0;
    &,
    &:hover,
    &:focus,
    &:active {
        border: none;
    }
}

.nav__dropdown{
    background-color: $subnav-bgc;
    @include tp-space(padding-left, .5);
    @include tp-space(padding-right, .5);

    a {
        color: $subnav-link-c;
    }
}
