// Notifications
//
// Styleguide 4

// Standard notification
//
// .notification - Something has happened
// .notification--error - Something bad has happened
// .notification--success - Something good has happened
// .notification--warning - Something that may be bad has happened
//
// markup:
// <div class="notification {$modifiers}">
//     <div class="notification__content">
//         This is a notification!
//     </div>
// </div>
//
// Styleguide 4.1

@mixin tp-notification($type: 'info') {
    @if ($type == 'info') {
        display: block;
        text-align: left;
        width: 100%;
        position: relative;
        @include tp-space(padding, .5, true);
        // @include tp-space(padding-left, 2, true);
        margin: 0 !important;
        @include tp-trailer(1, true);
        @include tp-fs(0);
        box-shadow: none;
        text-shadow: none;
        border: none;
        background: lighten($bgc, 20%);
        border-bottom: .5em solid $notification-c;
        color: $text-c;

        a {
            color: inherit;
            transition: opacity $transition-fast;
            @include scut-selected(true) {
                opacity: 0.4;
            }
        }

        .button,
        button {
            float: right;
            margin: -$input-padding-vertical;
            margin: calc(-#{$input-padding-vertical} + 1px);
            margin-left: 0.5em;
        }
    }
    @elseif ($type == 'error') {
        border-color: $notification-c--error;
    }
    @elseif ($type == 'success') {
        border-color: $notification-c--success;
    }
    @elseif ($type == 'warning') {
        border-color: $notification-c--warning;
    }
}

.notification {
    @include tp-notification();
}

.notification--error {
    @include tp-notification(error);
}

.notification--success {
    @include tp-notification(success);
}

.notification--warning {
    @include tp-notification(warning);
}

.notification__content {

}
