@function tp-tint($color, $percentage) {
  @return mix(#fff, $color, $percentage);
}

@function tp-shade($color, $percentage) {
  @return mix(#000, $color, $percentage);
}

@function tp-readable-color($color) {
  @if (lightness($color) > 90) {
    @return tp-shade($color, 60%);
  }
  @if (lightness($color) < 10) {
    @return tp-tint($color, 60%);
  }
  @elseif (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

@function tp-strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function tp-rem-to-px($size) {
  $browser-base: 16px;
  $size: tp-strip-unit($size / 1rem);
  $local-max-font: tp-strip-unit(ms(0, $max-font) / 1rem);
  $px: $local-max-font * $size * $browser-base;
  @return $px;
}
