@mixin tp-container($max-width: $large-break) {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $max-width;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

@mixin tp-fs($scale) {
  $local-min-font: ms($scale, $min-font);
  $local-max-font: ms($scale, $max-font);

  font-size: $local-min-font;

  @media (min-width: $mid-break) {
    font-size: calc(
      #{$local-min-font} + (
          #{scut-strip-unit($local-max-font)} - #{scut-strip-unit(
              $local-min-font
            )}
        ) * ((100vw - #{$mid-break}) /
            (#{scut-strip-unit($large-break)} - #{scut-strip-unit($mid-break)}))
    );
  }
  @media (min-width: $large-break) {
    font-size: $local-max-font;
  }
}

@mixin tp-space($property, $count: 1, $important: false) {
  $val: 1rem * $line-height * $count;
  @if ($important) {
    $val: $val + !important;
  }
  // Causes issues with the styleguide but works fine.
  // styleguide:ignore:start
  #{$property}: $val;
  // styleguide:ignore:end
}

@mixin tp-icon() {
}

@mixin tp-leader($space: 1, $important: false) {
  @include tp-space(margin-top, $space, $important);
}

@mixin tp-trailer($space: 1, $important: false) {
  @include tp-space(margin-bottom, $space, $important);
}

@mixin tp-padding-leader($space: 1, $important: false) {
  @include tp-space(padding-top, $space, $important);
}

@mixin tp-padding-trailer($space: 1, $important: false) {
  @include tp-space(padding-bottom, $space, $important);
}

@mixin tp-breakpoint($breakpoint, $fallback: false) {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
  @if ($fallback) {
    #{$fallback} {
      @content;
    }
  }
}

@mixin tp-shadow($depth: 1, $distance-scale: 0.1rem) {
  $distanceY: $distance-scale * $depth;
  $distanceX: $distanceY * 0.6;
  $blur: 0.1rem * ($depth * 3);
  $opacity: 0.1 + $depth / 10;
  box-shadow: $distanceX $distanceY $blur rgba(0, 0, 0, $opacity);
}

@mixin input-structure(
  $input-border-radius: $input-border-radius,
  $input-font-size: $input-font-size,
  $input-padding-vertical: $input-padding-vertical,
  $input-padding-horizontal: $input-padding-horizontal
) {
  display: inline-block;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
  padding: $input-padding-vertical $input-padding-horizontal;
  line-height: 1.2;
  // @include t-input();
}

@mixin tp-input {
  max-width: 100%;
  @include input-structure();
  color: $input-c;
  background-color: $input-bg;
  border: none;
  border-bottom: $input-border;
  box-shadow: none;
  // box-shadow: inset 0 0 .6em rgba(0,0,0,.07);
  transition: all $transition-fast;
  outline: none;
  font-weight: normal;
  vertical-align: bottom;

  &:hover {
    color: $input-c--hover;
    background-color: $input-bg--hover;
    border-bottom: $input-border--hover;
    // box-shadow: 0 0 .1em inset rgba(0,0,0,.3);
  }

  &:focus,
  &:active {
    color: $input-c--active;
    background-color: $input-bg--active;
    border-bottom: $input-border--active;
    // box-shadow: 0 0 .2em rgba(0,0,0,.3);
  }
}

@mixin tp-button {
  max-width: 100%;
  text-align: center;
  @include input-structure();
  background-color: $button-bgc;
  border: $button-border;
  color: $button-c;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  font-weight: bold;
  transition: background $transition-fast, border $transition-fast,
    color $transition-fast;

  &:hover,
  &:focus {
    background-color: $button-bgc--hover;
    border: $button-border--hover;
    color: $button-c--hover;
  }

  &:active {
    background-color: $button-bgc--active;
    border: $button-border--active;
    color: $button-c--active;
    transform: translate(1px 1px);
  }
}
