// No one likes you IE

$legacy_support_for_ie: false;

// Typography

$font-sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-serif: 'Merriweather' ,Georgia, serif;
$font-h: $font-sans;
$font-body: $font-sans;

$line-height: 1.5;
$font-size: 1.1;
$line-height-ratio: 1.75;
$header-ratio: $golden;
$body-font: $font-body;
$body-font-weight: 300;
$header-font: $font-h;
$header-font-weight: 700;
$min-font: 13px;
$max-font: 18px;
$min-width: $mid-break / 1em * 16px;
$max-width: $large-break / 1em * 16px;
$vertical-rhythm: true;

$normalize_headings: false;

// Grid

$small-cols: 4;

$mid-cols: 8;
$mid-content-cols: 5;
$mid-sidebar-cols: 3;

$large-cols: 12;
$large-content-cols: 8;
$large-sidebar-cols: 4;

$susy: (
    container: $large-break,
    columns: 12,
    gutters: .25,
    math: fluid,
    gutter-position: after
);

$grid-padding: 1em;
// $column-width: 3;
// $gutter-width: 1.5;

// $small-grid: $small-cols ($column-width $gutter-width) fluid border-box;
// $mid-grid: $mid-cols ($column-width $gutter-width) fluid border-box;
// $large-grid: $large-cols ($column-width $gutter-width) fluid border-box;

// Colors

$text-c: $colors-black;
$bgc: $colors-white;

$body-color: $text-c;
$header-color: $text-c;

$border-c: mix($text-c, $bgc);

$link-c: $colors-blue;
$link-c--hover: $colors-red;

$header-bgc: $colors-black;
$header-c: $colors-white;

$nav-bgc: $colors-blue;

$nav-link-c: $colors-black;
$nav-link-bg: none;

$nav-link-c--hover: $colors-white;
$nav-link-bg--hover: none;

$nav-link-c--current: $colors-white;
$nav-link-bg--current: none;

$subnav-bgc: $colors-black;

$subnav-link-c: $colors-blue;
$subnav-link-bg: $nav-link-bg;

$subnav-link-c--hover: $colors-white;
$subnav-link-bg--hover: $nav-link-bg--hover;

$subnav-link-c--current: $colors-white;
$subnav-link-bg--current: $nav-link-bg--current;

$footer-bgc: $colors-blue;
$footer-c: $colors-white;

$input-c: tp-tint($text-c, 20%);
$input-bg: tp-shade($bgc, 2%);
$input-border: 1px solid tp-shade($input-bg, 15%);

$input-c--hover: $input-c;
$input-bg--hover: $input-bg;
$input-border--hover: 1px solid $colors-blue;

$input-c--active: $text-c;
$input-bg--active: $bgc;
$input-border--active: $input-border--hover;

$button-bgc: $colors-blue;
$button-c: $colors-white;
$button-border: 1px solid $button-bgc;

$button-bgc--hover: darken($colors-blue, 20%);
$button-c--hover: $colors-white;
$button-border--hover: 1px solid $button-bgc--hover;

$button-bgc--active: darken($colors-blue, 25%);
$button-c--active: darken($colors-white, 10%);
$button-border--active: 1px solid $button-bgc--active;

$error-c: $colors-red;

$notification-c: $colors-blue;
$notification-c--error: $colors-red;
$notification-c--success: $colors-green;
$notification-c--warning: $colors-orange;

// Transition Times

$transition-fast: .2s;
$transition-mid: $transition-fast * 2;
$transition-slow: $transition-mid * 2;

// Input structure
$input-border-radius: .2em;
$input-font-size: 1em;
$input-padding-vertical: .3em;
$input-padding-horizontal: .5em;

// Misc

$gravity-forms: false;
