@mixin tp-container() {
    @include scut-clearfix;
    @include container;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
}

@mixin tp-fs($scale) {
    $rem: ms($scale, $font-size);
    font-size: $rem * 16px;
    font-size: $rem * 1rem;
}

@mixin tp-space( $property, $count: 1, $important: false) {
    $rem: $line-height * 1rem * $count;
    $px: $line-height * 16px * $count;
    @if ($important) {
        $rem: $rem + !important;
        $px: $px + !important;
    }
    #{$property}: $px;
    #{$property}: $rem;
}

@mixin tp-leader($space: 1, $important: false) {
    @include tp-space(margin-top, $space, $important);
}

@mixin tp-trailer($space: 1, $important: false) {
    @include tp-space(margin-bottom, $space, $important);
}

@mixin tp-padding-leader($space: 1, $important: false) {
    @include tp-space(padding-top, $space, $important);
}

@mixin tp-padding-trailer($space: 1, $important: false) {
    @include tp-space(padding-bottom, $space, $important);
}

@mixin tp-breakpoint($breakpoint, $fallback: false) {
    @media (min-width: #{$breakpoint}) {
        @content;
    }
    @if ($fallback) {
        #{$fallback} {
            @content;
        }
    }
}