$dev-domain: "local.wordpress.dev";
$mid-break: 30em;
$large-break: 60em;
$classes-nav: main-nav;
$classes-content: main-content;
$classes-footer: main-footer;
$colors-white: #FCFCFC;
$colors-black: #222222;
$colors-blue: #478BC2;
$colors-red: #BF4240;
$colors-orange: #E27455;
$colors-green: #7FCD6A;
