<article class="{{post.post_class}} single-post h-entry">
    <header class="single-post__header">
        <h1 class="single-post__title p-name">{{post.title}}</h1>
    </header>
    <div class="single-post__content e-content main-entry-content">
        {{post.content}}
    </div>
    <footer class="single-post__footer">
        {% include 'partials/postmeta.twig' %}
    </footer>
</article>
