blockquote {
    border-left: 2px solid $text-c;
    margin-left: 0;
    font-family: $font-serif;
    font-style: italic;
    @include typecsset-space(padding-left, 1);
    @include tp-padding-leader(.5);
    @include tp-padding-trailer(.5);

    p:last-child {
        margin-bottom: 0;
    }
}

.screen-reader-text {
    @extend %scut-hide-visually;
}