@include scut-reset-form;
@include scut-reset-pointer;
@include scut-reset-button;

%input-shape {
    max-width: 100%;
    display: inline-block;
    padding: .3em .8em;
}

%input {
    @extend %input-shape;
    color: $input-c;
    background: $input-bg;
    border: $input-border;

    &:hover {
        color: $input-c--hover;
        background: $input-bg--hover;
        border: $input-border--hover;
    }

    &:focus,
    &:active {
        color: $input-c--active;
        background: $input-bg--active;;
        border: $input-border--active;
    }
}

%button {
    @extend %input-shape;
    color: $button-c;
    background: $button-bg;
    border: $button-border;

    &:hover {
        color: $button-c--hover;
        background: $button-bg--hover;
        border: $button-border--hover;
    }

    &:focus,
    &:active {
        color: $button-c--active;
        background: $button-bg--active;;
        border: $button-border--active;
    }
}

input,
select,
textarea {
	@extend %input;
}

button,
.button,
input[type=submit] {
    @extend %button;
}