%tp-container {
	@include tp-container;
}

@include global-box-sizing(border-box);

.main-wrapper {
	// @extend %tp-container;
}

.main-header__inner {
	@extend %tp-container;
}

.main-content-sidebar-wrap {
	@extend %tp-container;
}

.main-content {
	@include tp-trailer(2);

	@include breakpoint($mid-break) {
		margin-bottom: 0;
		@include span($mid-content-cols of $mid-cols);
	}
	@include breakpoint($large-break, '.lt-ie9') {
		margin-bottom: 0;
		@include span($large-content-cols of $large-cols);
	}
}

.main-aside {
	@include breakpoint($mid-break) {
		@include span($mid-sidebar-cols of $mid-cols);
		@include omega;
	}
	@include breakpoint($large-break, '.lt-ie9') {
		@include span($large-sidebar-cols of $large-cols);
		@include omega;
	}
}

.main-nav {
	@include tp-trailer(2);
}

.main-nav__ul {
	@extend %tp-container;
	@extend %scut-list-unstyled;
	@include breakpoint($mid-break, '.lt-ie9') {
		@include scut-list-inline;
		@include tp-container;
	}
}

.main-nav__li {
	@include breakpoint($mid-break, '.lt-ie9') {
		margin-right: 0.5em;
	}
}

.main-nav__a {
	display: block;
}

.main-nav__sub-nav {
	@extend %scut-list-unstyled;
	margin-left: 0;
	@include breakpoint($mid-break, '.lt-ie9') {
		position: absolute;
		max-height: 0;
		overflow: hidden;
		left: -9999em;
		min-width: 10em;
		max-width: 20em;
	}
}

.main-nav__sub-nav__a {
	display: block;
}

.main-nav__li:hover > .main-nav__sub-nav,
.main-nav__sub-nav:hover {
	@include breakpoint($mid-break, '.lt-ie9') {
		max-height: 99em;
		left: auto;
	}
}

.main-footer {
	clear: both;
	@include tp-leader(2);
}

.main-footer__inner {
	@extend %tp-container;
}

.footer-widgets-wrapper {
	@include breakpoint($large-break, '.lt-ie9') {
		display: table;
		width: 100%;
	}
}

.footer-widgets {
	@include breakpoint($large-break, '.lt-ie9') {
		display: table-cell;
		padding-left: $grid-padding;
		&:first-child {
			padding-left: 0;
		}
	}
}