%tp-container {
	@extend %scut-clearfix;
	@include container;
}

@include global-box-sizing(border-box);

.main-wrapper {
	@extend %tp-container;
}

.main-content {
	@include breakpoint($mid-break) {
		@include span($mid-content-cols of $mid-cols);
	}
	@include breakpoint($large-break, lt-ie9) {
		@include span($large-content-cols of $large-cols);
	}
}

.main-aside {
	@include breakpoint($mid-break) {
		@include span($mid-sidebar-cols of $mid-cols);
		@include omega;
	}
	@include breakpoint($large-break, lt-ie9) {
		@include span($large-sidebar-cols of $large-cols);
		@include omega;
	}
}

.main-nav {
	ul {
		padding: 0;
		margin: 0;
	}

}

.main-nav__ul {
	@extend %scut-list-unstyled;
	@include breakpoint($mid-break, lt-ie9) {
		@include scut-list-inline;
	}
}

.sub-nav {
	@extend %scut-list-unstyled;
	@include breakpoint($mid-break, lt-ie9) {
		position: absolute;
		max-height: 0;
		overflow: hidden;
	}
}

.main-nav__li:hover > .sub-nav,
.sub-nav:hover {
	@include breakpoint($mid-break, lt-ie9) {
		max-height: 99em;
	}
}

.main-footer {
	clear: both;
}

.footer-widgets-wrapper {
	@include breakpoint($large-break, lt-ie9) {
		display: table;
		width: 100%;
	}
}

.footer-widgets {
	@include breakpoint($large-break, lt-ie9) {
		display: table-cell;
		padding-left: $grid-padding;
		&:first-child {
			padding-left: 0;
		}
	}
}