html, body {
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
    min-height: 100%;
    background-color: $bgc;
}

a {
	color: $link-c;
	@include transition(color $transition-fast);

	&:hover, &:focus, &:active {
		color: $link-hover-c;
	}
}