.main-nav {

}

.main-nav__ul {

}

.main-nav__li {

}

.main-nav__a {
    color: $nav-link-c;
    background: $nav-link-bg;

    @include scut-selected(true) {
        color: $nav-link-c--hover;
        background: $nav-link-bg--hover;
    }

    &.is-current {
        color: $nav-link-c--current;
        background: $nav-link-bg--current;
    }

}

// Unlike the main nav this is the ul element
.sub-nav {

}

.sub-nav__li {

}

.sub-nav__a {
    color: $subnav-link-c;
    background: $subnav-link-bg;

    @include scut-selected(true) {
        color: $subnav-link-c--hover;
        background: $subnav-link-bg--hover;
    }

    &.is-current {
        color: $subnav-link-c--current;
        background: $subnav-link-bg--current;
    }
}