body {
	font-family: $font-body;
	font-size: $font-size * 1em;
	color: $text-c;
	line-height: $line-height;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	line-height: ms(.5, $font-size);
	
	a {
		text-decoration: none;
	}
} 

h1, .h1 {
	font-size: ms(3, $font-size) * 1em;	
	
}

h2, .h2 {
	font-size: ms(2, $font-size) * 1em;	
	
}

h3, .h3 {
	font-size: ms(1, $font-size) * 1em;	
}

h4, .h4 {
	font-size: ms(0, $font-size) * 1em;	
}

h5, .h5 {
	font-size: ms(0, $font-size) * 1em;
}

h6, .h6 {
	font-size: ms(-1, $font-size) * 1em;
}

blockquote {
	font-family: $font-serif;
	font-style: italic;
}