{% extends "base.twig" %}

{% block content %}
    {% if is_archive %}
        <div class="h-feed">
            {% for post in posts %}
                {% include ['components/preview-'~post.post_type~'.twig', 'components/preview.twig'] %}
            {% endfor %}
        </div>
    {% else %}
        {% if post %}
            {% include ['partials/article-'~post.post_type~'.twig', 'partials/article.twig'] %}
        {% else %}
            {% for post in posts %}
                {% include ['partials/article-'~post.post_type~'.twig', 'partials/article.twig'] %}
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if show_comments %}
        {{fn('comments_template')}}
    {% endif %}
{% endblock %}
