{% extends "base.twig" %}

{% block content %}
    <header class="single-post__header">
        <h1 class="single-post__title" itemprop="headline">{{post.title}}</h1>
    </header>
    <div class="single-post__content" itemprop="text">
        {{post.content}}
        {{styleguide}}
    </div>
{% endblock %}