// Gutenberg stuff

// Set gutenberg pages to full width
.block-editor .main-content-sidebar-wrap {
  max-width: 100%;
}

// Contain the header & footer
.block-editor .single-post__header,
.block-editor .single-post__footer {
  > * {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $block-width;
  }
}

// Contain all blocks by default
.block-editor .main-entry-content > * {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $block-width;

  &.alignwide {
    max-width: $block-width--wide;
  }

  &.alignfull {
    width: auto;
    max-width: none;
    min-width: calc(100% + #{$grid-padding * 2});
    margin-left: 0 - $grid-padding;
    margin-right: 0 - $grid-padding;
  }

  &.aligncenter {
    text-align: center;
  }

  &.alignleft,
  &.alignright {
    max-width: 50%;
    @media (min-width: $mid-break) {
      max-width: $block-width--wide / 2;
    }
  }

  &.alignleft {
    margin-right: $grid-padding;
    @media (min-width: $large-break) {
      margin-left: calc(50vw - #{$block-width--wide / 2} - #{$grid-padding});
    }
  }

  &.alignright {
    margin-left: $grid-padding;
    @media (min-width: $large-break) {
      margin-right: calc(50vw - #{$block-width--wide / 2} - #{$grid-padding});
    }
  }
}

// Add margin to bottom of all blocks
[class^='wp-block'] {
  @include tp-trailer();
}
