.main-aside {
  @include breakpoint($mid-break) {
    width: span($mid-sidebar-cols, $susy-mid);
  }
  @include breakpoint($large-break) {
    width: span($large-sidebar-cols, $susy-large);
  }

  .widget {
    @include tp-trailer(2);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
