.kss-menu {
  @include scut-list-inline;
  @media (min-width: $mid-break) {
    @include scut-list-unstyled;
    li {
      display: block;
    }
  }
  @include tp-trailer();
  @include tp-padding-leader(0.5);
  @include tp-padding-trailer(0.5);

  li {
    margin-right: 0.5em;
  }

  a {
    text-decoration: none;
  }
}

#kss-nav {
  @media (min-width: $mid-break) {
    width: span($mid-sidebar-cols, $susy-mid);

    &.is-fixed {
      position: fixed;
      top: 0;
      z-index: 100;
    }
  }
  @media (min-width: $large-break) {
    width: span($large-sidebar-cols, $susy-large);
  }
}

#kss-main {
  @media (min-width: $mid-break) {
    float: right;
    width: span($mid-content-cols, $susy-mid);
  }
  @media (min-width: $large-break) {
    float: right;
    width: span($large-content-cols, $susy-large);
  }
}

.kss-mod-list {
  width: 100%;
}
