// @include scut-reset-border-box;

html, body {
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
    min-height: 100%;
    background-color: $footer-bgc;
}

.main-wrapper {
    background-color: $bgc;
}

.main-content {
    border-bottom: 1px solid $border-c;
    @include tp-padding-trailer(2);
    @include breakpoint($mid-break) {
        border-bottom: none;
        padding-bottom: 0;
    }
}

::selection {
    color: $bgc;
    background-color: $link-c;
}

img {
    max-width: 100%;
    height: auto;
}

// Links
//
// :hover - hover state
// :active - active state
// :vistited - visited state
//
// markup:
// <a href="/" class="{$modifiers}">Link</a>
//
// Styleguide 1.5
a {
	color: $link-c;
    transition: color $transition-fast;

	&:hover, &:focus, &:active {
		color: $link-c--hover;
	}
}