// No one likes you IE

$legacy_support_for_ie: false;

// Fonts

$ms-ratio: $fourth;
$font-size: 1;
$ms-base: $font-size;
$line-height: ms($font-size, 1);

$font-sans: Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;
$font-h: $font-sans;
$font-body: $font-sans;

$normalize_headings: false;

$typecsset-base-font-size: 16px * $font-size;
$typecsset-base-line-height: 16px * $line-height;

$typecsset-h1-size: ms(3, $typecsset-base-font-size);
$typecsset-h2-size: ms(2, $typecsset-base-font-size);
$typecsset-h3-size: ms(1, $typecsset-base-font-size);
$typecsset-h4-size: ms(0, $typecsset-base-font-size);
$typecsset-h5-size: ms(0, $typecsset-base-font-size);
$typecsset-h6-size: ms(-1, $typecsset-base-font-size);

// Break Points

$mid-break: 30em;
$large-break: 60em;

// Grid

$small-cols: 4;

$mid-cols: 8;
$mid-content-cols: 5;
$mid-sidebar-cols: 3;

$large-cols: 12;
$large-content-cols: 8;
$large-sidebar-cols: 4;

$susy: (
    container: 60em,
    columns: 12,
    gutters: .25,
    math: fluid,
    gutter-position: after
);

$grid-padding: 1em;
// $column-width: 3;
// $gutter-width: 1.5;

// $small-grid: $small-cols ($column-width $gutter-width) fluid border-box;
// $mid-grid: $mid-cols ($column-width $gutter-width) fluid border-box;
// $large-grid: $large-cols ($column-width $gutter-width) fluid border-box;

// Colors

$white: #FCFCFC;
$black: #333;
$blue: #478BC2;
$red: #BF4240;
$green: #7FCD6A;

$text-c: $black;
$bgc: $white;

$border-c: mix($text-c, $bgc);

$link-c: $blue;
$link-c--hover: $red;

$header-bgc: $black;
$header-c: $white;

$nav-link-c: $blue;
$nav-link-bg: $bgc;

$nav-link-c--hover: $red;
$nav-link-bg--hover: $white;

$nav-link-c--current: $red;
$nav-link-bg--current: $white;

$subnav-link-c: $nav-link-c;
$subnav-link-bg: $nav-link-bg;

$subnav-link-c--hover: $nav-link-c--hover;
$subnav-link-bg--hover: $nav-link-bg--hover;

$subnav-link-c--current: $nav-link-c--current;
$subnav-link-bg--current: $nav-link-bg--current;

$footer-bgc: $blue;
$footer-c: $white;

$input-c: tint($text-c, 20%);
$input-bg: shade($bgc, 2%);
$input-border: 1px solid shade($input-bg, 15%);

$input-c--hover: $input-c;
$input-bg--hover: $input-bg;
$input-border--hover: 1px solid $blue;

$input-c--active: $text-c;
$input-bg--active: $bgc;
$input-border--active: $input-border--hover;

$button-bgc: $blue;

$error-c: $red;

// Transition Times

$transition-fast: .2s;
$transition-mid: $transition-fast * 2;
$transition-slow: $transition-mid * 2;

// Misc

$gravity-forms: false;