// No one likes you IE

$legacy_support_for_ie: false;

// Fonts

$ratio: fourth();

$font-size: 1;
$line-height: ms($font-size, 1);

$font-sans: Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;
$font-h: $font-sans;
$font-body: $font-sans;

$normalize_headings: false;

$typecsset-base-font-size: 16px * $font-size;
$typecsset-base-line-height: 16px * $line-height;

$typecsset-h1-size: ms(3, $typecsset-base-font-size);
$typecsset-h2-size: ms(2, $typecsset-base-font-size);
$typecsset-h3-size: ms(1, $typecsset-base-font-size);
$typecsset-h4-size: ms(0, $typecsset-base-font-size);
$typecsset-h5-size: ms(0, $typecsset-base-font-size);
$typecsset-h6-size: ms(-1, $typecsset-base-font-size);

// Break Points

$mid-break: 30em;
$large-break: 60em;

// Grid

$small-cols: 4;

$mid-cols: 8;
$mid-content-cols: 5;
$mid-sidebar-cols: 3;

$large-cols: 12;
$large-content-cols: 8;
$large-sidebar-cols: 4;

$grid-padding: 1em;
$column-width: 3;
$grid-max-width: 70em;
$gutter-width: 1.5;
$container-style: fluid;
$border-box-sizing: true;

// Colors

$white: #FCFCFC;
$black: #222;
$blue: #2A5B7E;
$red: #A84538;
$green: #5EC97E;

$text-c: $black;
$bgc: $white;

$link-c: $blue;
$link-hover-c: $red;

$header-bgc: $blue;
$header-c: $bgc;
$header-hover-c: $red;

$footer-bgc: $blue;
$footer-c: $white;

$input-c: tint($text-c, 20%);
$input-bg: shade($bgc, 20%);
$input-border: 1px solid shade($input-bg, 30%);

$input-hover-c: $input-c;
$input-hover-bg: $input-bg;
$input-hover-border: 1px solid $input-border;

$input-active-c: $text-c;
$input-active-bg: $bgc;
$input-active-border: 1px solid $input-border;

$button-c: $bgc;
$button-bg: $green;
$button-border: 1px solid shade($button-bg, 30%);

$button-hover-c: $button-c;
$button-hover-bg: shade($button-bg, 10%);
$button-hover-border: 1px solid $button-border;

$button-active-c: $button-hover-c;
$button-active-bg: shade($button-bg, 15%);
$button-active-border: 1px solid $button-border;


// Transition Times

$transition-fast: .2s;
$transition-mid: $transition-fast * 2;
$transition-slow: $transition-mid * 2;
