@import '~susy';
@import '~modularscale-sass';
@import '~scut';

@import 'utils/functions';
@import 'utils/variables';

// Reassign rems to px for gutenberg purposes
$mid-break: tp-rem-to-px($mid-break);
$large-break: tp-rem-to-px($large-break);
$block-width: tp-rem-to-px($block-width);
$block-width--wide: tp-rem-to-px($block-width--wide);
$min-font: tp-rem-to-px($min-font);
$max-font: tp-rem-to-px($max-font);

@import 'utils/mixins';

@import '~normalize.css';
@import '~scut';

@import 'base/fonts';
@import 'base/typography';
@import 'base/base';
@import 'base/helpers';
@import 'base/wordpress-defaults';
@import 'layout/blocks';
@import 'blocks/index';
@import 'components/preview';

body {
  background-color: $bgc;
  // Using rems for font sizing is a bit off because the base size is defined by the wp admin css
  // @include tp-fs(0);
  // font-size: tp-rem-to-px(1rem);
}

.editor-post-title__block .editor-post-title__input {
  line-height: 1.2;
  margin: 0;
  font-family: $font-h;
  font-weight: 500;
  @include tp-fs(4);
  @include tp-leader();
  @include tp-trailer(2);
}

.wp-block {
  max-width: $block-width;
}

/* Width of "wide" blocks */
.wp-block[data-align='wide'] {
  max-width: $block-width--wide;
}

/* Width of "full-wide" blocks */
.wp-block[data-align='full'] {
  max-width: none;
}

// Need to fix this for some reason
.editor-block-switcher__toggle {
  overflow: hidden;
}
