@import '~breakpoint-sass';
@import '~susy';
@import '~modularscale-sass';
@import '~scut';

@import 'utils/wp-comment';
@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

body.gutenberg-editor-page .edit-post-visual-editor {
  background-color: $bgc;

  /* Main column width */
  .editor-post-title__block,
  .editor-default-block-appender,
  .editor-block-list__block {
    max-width: $block-width;
  }

  /* Width of "wide" blocks */
  .editor-block-list__block[data-align='wide'] {
    max-width: $block-width--wide;
  }

  /* Width of "full-wide" blocks */
  .editor-block-list__block[data-align='full'] {
    // max-width: $block-width--full;
    // This needs to be none to not break the dumb margins
    max-width: none;
  }

  .editor-post-title__input {
    @extend h1;
  }

  .editor-block-list__block {
    line-height: $line-height;
    font-family: $font-body;
    font-weight: $body-font-weight;
    color: $text-c;
    @include tp-fs(0);

    p {
      @include tp-fs(0);
    }
  }

  @import 'base/fonts';
  @import 'base/typography';
  @import 'base/base';
  @import 'base/helpers';
  @import 'base/wordpress-defaults';
  @import 'layout/blocks';
  @import './blocks/index';
}
